@model WebMia.Models.Items


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="~/css/site.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/js/ProductReload.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/DisplayDataStyle.css" rel="stylesheet" />
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@{
    ViewData["Title"] = "Productos en máquina";
    Layout = "_MachineGestionLayout";
}
<div class="table-responsive">
    <div style="padding-left:2em">
        <div style="width:30%; height : 31em; max-height:31em; float:left; overflow:auto">
            <table>
                <tr id="DisplayData" style="height:2.5em">
                    <td style="width:10%"></td>
                    <td style="width:5%; min-width:50px">ID</td>
                    <td style="width:70%; min-width:50px">DIRECCIÓN</td>
                    <td style="width:15%"></td>
                </tr>
            </table>
            <table id="tableData" class="table table-hover" background-color:lightgrey">

                @foreach (var item in ViewBag.ListMachineList)
            {
                    <tr>
                        <td style="width:2%"></td>
                        <td class="Product" contenteditable="false" style="width:18%; " id="@item.Id_Machine">@item.Id_Machine</td>
                        <td class="Product" contenteditable="false" style="width:80%;" id="@item.Id_Machine">@item.Address</td>
                    </tr>
                }

            </table>
        </div>

        <div id="divPartial">

            <div style="width:67%;height : 31em; max-height:31em; float:left; overflow:auto">
                <table>
                    @if (ViewBag.Products != null)
                    {
                        <tr id="DisplayData" style="height:2.5em">
                            <td style="width:10%"></td>
                            <td style="width:10%; min-width:50px">ID</td>
                            <td style="width:20%; min-width:50px">PRODUCTO</td>
                            <td style="width:20%; min-width:50px">SLOT</td>
                            <td style="width:20%; min-width:50px">STOCK</td>
                            <td style="width:20%; min-width:50px">PRECIO</td>
                            <td style="width:10%"></td>
                        </tr>
                    }
                    else
                    {
                        <h1 style="position:center; text-align:center ; color:grey"> Seleccione una máquina para mostrar sus propiedades</h1>

                    }
                </table>
                <table id="tableDataProducts" class="table table-hover" background-color:lightgrey">
                    @if (ViewBag.Products != null)
                    {

                        @foreach (WebMia.Controllers.MachineController.UnionProducts item in ViewBag.Products)
                        {

                            <tr>
                                <td style="width:10%"></td>
                                <td class="EditableNameProductss" contenteditable="false" style="width:10%; ">@item.Id_Machine</td>
                                <td value="productComboBoxs" class="EditableNameProductss" contenteditable="false" style="width:25%;">

                                    <SELECT NAME="productsCombo">
                                        @foreach (Items itemName in ViewBag.ItemList)
                                        {
                                            if (itemName.Id == item.Id_Product)
                                            {
                                                <OPTION selected="selected" VALUE=@itemName.Id>@itemName.ItemName</OPTION>
                                            }
                                            else
                                            {
                                                <OPTION VALUE=@itemName.Id>@itemName.ItemName</OPTION>
                                            }
                                        }

                                    </SELECT>
                                </td>

                                <td class="EditableNameProductss" contenteditable="false" style="width:20%; ">@item.Slot_Number</td>

                                @if (item.Stock <= 3)
                                {
                                    <td class="EditableNameProducts" contenteditable="true" style="width:20%; color:red; font-weight:bold">@item.Stock</td>
                                }
                                else if (item.Stock > 8)
                                {
                                    <td class="EditableNameProducts" contenteditable="true" style="width:20%; color:green; font-weight:bold ">@item.Stock</td>
                                }
                                else
                                {
                                    <td class="EditableNameProducts" contenteditable="true" style="width:20%;  font-weight:bold">@item.Stock</td>
                                }

                                <td class="EditableNameProducts" contenteditable="true" style="width:20%; ">@item.Price.ToString().Substring(0, 4) €</td>
                                <td class="EditableNameProductss" contenteditable="false" style="width:20%; visibility:hidden; ">@item.Id_Slot</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <button id="SavechangesProducts" class="btn btn-success" style="margin-top:1em">Confirmar Cambios</button>
        <button id="Cancelchanges" class="btn btn-danger" style=" margin-top:1em">Cancelar Cambios</button>
    </div>
 </div>